.search-box {
  display: flex;
  background: #fff;
  border-radius: 10px;

  overflow: hidden;
  max-width: 600px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.search-box input {
  width: 441px;
  height: 62px;
  font-family: "Nunito Sans", sans-serif;
  border: none;
  padding: 10px;
  font-size: 20px;
  outline: none;
  animation: inputPop 0.5s ease-in-out;
  transition: all 0.3s ease;
}

div.search-box input:focus {
  transform: scale(0.93);
  border: none;
  outline: none;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  display: none;
}

.search-box input::placeholder {
  color: #000000;
  font-weight: 600;
}

.search-box button {
  width: 62px;
  background-color: #005cff;
  color: #fff;
  border: solid 1px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 18px;
  transition: transform 0.5s ease, 0.5s ease;
}

.search-box button:hover {
  background-color: #008cff;
  transform: scale(1.25);
}

.icon-button {
  font-size: 35px;
}
